@import '../../styles/app';

.redText {
  color: red;
}

.checkboxInList {
  position: static;
  margin-left: 0;
  margin-right: 5px;
}

.colorBarSectionsContainer {
  display: flex;
  border-radius: 0 0 10px 10px;
  border-bottom: 1px solid #d6dee5!important;
  border-left: 1px solid #d6dee5!important;
  border-right: 1px solid #d6dee5!important;
  overflow: hidden;
  height: 10px;
  width: 100%;
}

.sessionRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d6dee5!important;
  border-left: 1px solid #d6dee5!important;
  border-right: 1px solid #d6dee5!important;
  border-radius: 10px 10px 0 0;
  width: 100%;
  padding: 10px 15px;
}